<div class="top-kv parallax-container" id="js-topKv" data-scroll-section>
  <div class="kv-animation js-scrollAnime" id="js-topKvAnimation">
    <h1>Portfolio Site</h1>
    <!-- スクロール誘導テキスト（PC用） -->
		<div class="kv-scroll-vertical --pc js-scrollerPc1">scroll</div>
  </div>
  <div class="kv-title js-titleAnime">
		<h1 class="sr-only">「医療×IT」で世界を変える。</h1>
    <div class="kv-title__text c-show-box js-showBox">
      <div class="c-show-box__inner">
        <img
          class="text-kv01"
          src="<%= meta.imgPath %>text-kv1.svg"
          alt="医療×ITで"
          width="640"
          height="auto"
        />
      </div>
    </div>
    <div class="kv-title__text c-show-box js-showBox">
      <div class="c-show-box__inner">
        <img
          class="text-kv02"
          src="<%= meta.imgPath %>text-kv2.svg"
          alt="世界を変える。"
          width="640"
          height="auto"
        />
      </div>
    </div>
    <div class="kv-scroll-vertical js-scrollVertical">scroll</div>
  </div>

</div>
