<main class="main p-message-main parallax-container" data-scroll-section>
	<div class="p-message-page-bg">
	  <div class="p-message-kv">
	    <section class="p-message-kv__heading">
	      <h1 class="p-message-kv__heading__title js-startLoaded">
	        <span class="title-item">日本の優秀な学生に、</span
	        ><span class="title-item"
	          ><span class="--spacing01">ファーストキャリア</span
	          >の選択について</span
	        ><span class="title-item">問題提起したい。</span>
	      </h1>
	    </section>
	    <div class="p-message-kv__scroll">
	      <span class="p-message-kv__scroll__vertical">scroll</span>
	    </div>
	  </div>

	  <div class="p-message-content" id="js-messageBg">
	    <section class="p-message-content__text text-area c-pages-container">
	      <h2 class="content-title --blue" id="js-shuffleContent">
	        <span class="">日本の優秀な学生は、</span><br /><span class="">自身にとって理想的な</span><br class="is-tab" /><span cla
	          class="--spacing01 "
	          >ファーストキャリアを</span
						><br /><span class="">選択できているのだろうか。</span>
	      </h2>
	      <p class="content-text ">エムスリーは、問題提起をしたい。</p>
	      <p class="content-text">
	        <span class="">日本の、世界の、未来を担う優秀な人材が、</span><br class="is-pc"><span  class="">一人ひとりマッチした理想的なファーストキャリアを</span><br class="is-pc"><span  class="">選択できていないのではないか。</span>
	      </p>
	      <p class="content-text">
	        <span class="">問題の根源は、</span><br /><span class="">就職活動に横たわる情報の非対称性にあると</span><br class="is-pc"><span class="">私たちは考えます。</span>
	      </p>
	      <p class="content-text ">
	        <span class="">どれだけ地頭が良い学生も、</span><br /><span class="">自身にとって理想的なファーストキャリアを選択するために</span><br class="is-pc"><span class="">必要な情報の「質」と「量」を入手できなければ、</span><br class="is-pc"><span class="">正しい選択をすることは難しいと思うのです。</span>
	      </p>
	      <p class="content-text ">
	        <span class="">過去の常識や周囲の評価を意識して</span><br class="is-pc"><span class="">意思決定せざるを得ないこの環境が、</span><br class="is-pc"><span class="">実社会の価値観の変化スピードと比べて、</span><br class="is-pc">
	        <span class="">就活生の価値観の変化スピードが遅い</span><br class="is-pc"><span class="">最大の要因だと思うのです。</span>
	      </p>

	      <div class="blue-box-area">
	        <div class="content-title">
	          <span class="blue ">では、</span>
	          <div class="white-container --sp">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --spacing01"
	                >一人ひとりにマッチした</span
	              ></span
	            >
	          </div>
	          <div class="white-container --sp">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner">理想的な</span></span
	            >
	          </div>
	          <div class="white-container --pc">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner"
	                ><span class="--spacing005">一人ひとりにマッチした</span>理想的な</span
	              ></span
	            >
	          </div>
	          <div class="white-container">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --r1em"
	                ><span class="--spacing015 ">ファーストキャリア</span
	                >とは何か。</span
	              ></span
	            >
	          </div>
	        </div>

	        <div class="content-title">
						<!-- sp -->
	          <div class="white-container --sp">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --spacing01"
	                >ファーストキャリア</span
	              ></span
	            >
	          </div>
	          <div class="white-container --sp">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --spacing005 --r1em"
	                >選択にあたり、</span
	              ></span
	            >
	          </div>
						<!-- sp -->

						<!-- pc -->
	          <div class="white-container --pc">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --r1em"
	                ><span class="--spacing015">ファーストキャリア</span>選択にあたり、</span
	              ></span
	            >
	          </div>
						<!-- pc -->

	          <div class="white-container --sp">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --spacing01"
	                >どんなフレームワークを</span
	              ></span
	            >
	          </div>
	          <div class="white-container --sp">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --r1em"
	                >用いることが有効なのか。</span
	              ></span
	            >
	          </div>
	          <div class="white-container --pc">
	            <span class="white c-show-box-remain js-showReveal"
	              ><span class="c-show-box-remain__inner --spacing005 --r1em"
	                >どんなフレームワークを用いることが有効なのか。</span
	              ></span
	            >
	          </div>
	        </div>
	      </div>

	      <p class="content-text c-pages-container --last">
	        <span class="">日本の優秀な学生を採用する</span><br class="is-sp" /><span class="">企業の責任として、</span><br
	          class="is-pc"
	        />
	        <span class="">私たちが情報</span><br class="is-sp" /><span class="">提供をしたいと考えました。</span>
	      </p>
	    </section>
	    <!-- // p-message-content__text -->

	    <div class="p-message-content__slide __1 c-pages-container">
	      <section class="slide-box slide-text">
	        <h3 class="slide-box__title">
	          理想的な<span class="--spacing01">ファーストキャリア</span
	          >選択のために、<br />必ず考えておきたいこと
	        </h3>
	      </section>
	      <div class="slide-box slide-iframe">
	        <div class="slide-box__iframe">
							<iframe src="//www.slideshare.net/slideshow/embed_code/key/EyyD0K8QkhzCUs" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style=" z-index: 9999; max-width: 100%;" allowfullscreen> </iframe><div style="margin-bottom:5px"><strong><a href="//www.slideshare.net/ssuser46011e/microsoft-power-point-250016265" title="理想的なファーストキャリア選択のために、必ず考えておきたいこと" target="_blank">理想的なファーストキャリア選択のために、必ず考えておきたいこと</a></strong>from<strong><a href="//www.slideshare.net/ssuser46011e" target="_blank">ssuser46011e</a></strong></div>
	        </div>
	      </div>
	    </div>

	    <div class="p-message-content__slide __2 c-pages-container">
	      <section class="slide-box slide-text">
	        <h3 class="slide-box__title">企業分析12項目</h3>
	      </section>
	      <div class="slide-box slide-iframe">
	        <div class="slide-box__iframe">
						<iframe src="//www.slideshare.net/slideshow/embed_code/key/1DN7D9pfLRIujo" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen></iframe>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- //p-message-content -->
	  <div class="c-btn__anchor">
			<button type="button" id="js-scrollTop">
        <img
          src="<%= meta.imgPath %>btn-anchor-arrow.svg"
          alt=""
          width="222"
          height="auto"
      /></button>
	  </div>
	</div>
</main>
