<% const page='recruit'; %>
<!DOCTYPE html>
<html lang="ja">
  <%- include('./_head.ejs',{meta:data.pageMeta[page]}); %>
  <body >
    <div id="loading">
      <div id="loading-main"></div>
    </div>
    <div
      class="js-loadingWrapper smooth-scroll-container"
      data-scroll-container
    >
      <%- include('./layouts/_header.ejs',{meta:data.pageMeta[page]}); %>
      <%- include('./_recruit.ejs',{meta:data.pageMeta[page]}); %> <%-
      include('./layouts/_footer.ejs',{meta:data.pageMeta[page]}); %>
    </div>
		<script src="./assets/js/polyfill-intersection-observer.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
